{% extends 'base.html' %}
{% load static %}
{% load product_extras %}



{% block content %}

<div class="col-3">
{% if product.image %}
    <img src="{{product.image.url}}" alt="Imagen del producto" with="200" height="200">

{% endif %}
</div>

<div class="col mt-2">
    <div class="h3 font-weight-bold text-success">
    
    {{quantity | quantity_add_format }} al carrito
    </div>
    <div class="h5">
        <a href="{% url 'products:product' product.slug %}">
        {{product.title}}
    </a>
    <div class=" h5 font-weight-bold text-danger">
        {{product.price | price_format }}

    </div>
    <div class="mt-2">
    <a href="{% url 'carts:cart' %}" class="btn btn-warning">Ver Carrito</a>
    </div>
        <div class="mt-2">
     <a href="{% url 'index' %}" class="btn btn-success">Seguir comprando</a>
    </div>

</div>

{% endblock  %}