 {% load product_extras %}

<div class="card mt-5">
    <div class="card-body">
        <div class="font-weight-bold">
            Resumen del pedido    
        </div>

        <div class="">

            <table class=" class="table table-borderless table-sm"">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Productos:</td>
                        <td></td>
                        <td>{{cart.total | price_format }}</td>
                    </tr>
                    <tr>
                        <td >Envío: </td>
                        <td></td>

                        <td>{{order.shipping_total | price_format}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="">
            <hr>
            <div class="font-weight-bold text-danger">
                Total (Impuestos incluidos)

                <div class="d-inline-block">
                    {{ order.total | price_format}}

                </div>

            </div>
            <hr>
        </div>

        <div class="mt-2 text-center">
            <a href="#" class="btn btn-warning"> Confirmar pedido</a>
        </div>

    </div>

</div>